[submodule "resources/decorations"]
	path = resources/decorations
	url = https://github.com/RetroBat-Official/retrobat-bezels
[submodule "runtime/gamepadly"]
	path = runtime/gamepadly
	url = https://github.com/manu-romero-411/gamepadly.git
