[submodule "resources/decorations"]
	path = resources/decorations
	url = https://github.com/RetroBat-Official/retrobat-bezels.git
	shallow = true
[submodule "runtime/gamepadly"]
	path = runtime/gamepadly
	url = https://github.com/manu-romero-411/gamepadly.git
[submodule "frontend/themes/es-theme-iconic"]
	path = frontend/themes/es-theme-iconic
	url = https://github.com/manu-creative-411/es-theme-iconic.git
