[Desktop Entry]
Categories=Game;
Comment=Retrogaming, gaming and multimedia platform
Comment[es]=Plataforma de gaming, retrogaming y multimedia
Exec=/var/penguin/juegos/retrobox/retrobox.sh
Icon=/var/penguin/juegos/retrobox/frontend/resources/retrobox_logo_cube_neon.svg
Name=Retrobox
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
StartupWMClass=retrobox-emulationstation
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Actions=DisableInternalDisplay;

[Desktop Action DisableInternalDisplay]
Name=Launch without internal display (10-foot mode)
Name[es]=Iniciar sin pantalla interna (Modo TV)
Exec=/var/penguin/juegos/retrobox/retrobox.sh --disable-internal-display
